*{
    margin: 0px;
    padding: 0px;
}
.main{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inner{
    background-color: blue;
    width: 200px;
    height: 20vh;

}

.boxMain{
    display: flex;
    justify-content: center;
    width: 800px;
    flex-wrap: wrap;
}